/* html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#board {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  background-color: rgba(245, 247, 250);
}
.card {
  width: 320px;
  height: 320px;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: white;
  transform: translateX(-50%) translateY(-50%) scale(0.95);
  border-radius: 1%;
  box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.1);
  user-select: none;
} */

.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

*, *:before, *:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-image:url('accounting-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

body {
  /* background: #CCFBFE; */
  background: rgba(255,255,255,0.8);
  overflow: auto;
  overflow-x: hidden;
  /* font-family: sans-serif; */
}

.tinder {
  width: 100vw;
  height: 100vh !important;
  overflow: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}

.loaded.tinder {
  opacity: 1;
}

.tinder--status {
  position: absolute;
  top: 50%;
  margin-top: -30px;
  z-index: 2;
  width: 100%;
  text-align: center;
  pointer-events: none;
}

.tinder--status i {
  font-size: 100px;
  opacity: 0;
  transform: scale(0.3);
  transition: all 0.2s ease-in-out;
  position: absolute;
  width: 100px;
  margin-left: -50px;
}

.tinder_love .fa-heart {
  opacity: 0.7;
  transform: scale(1);
}

.tinder_nope .fa-remove {
  opacity: 0.7;
  transform: scale(1);
}

.tinder--cards {
  flex-grow: 1;
  padding-top: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 1;
}

.tinder--card {
  display: inline-block;
  width: 90vw;
  max-width: 20rem;
  border-radius: 10px;
  border: 3px solid #000;
  height: 50vh;
  background: #FFFFFF;
  padding-bottom: 40px;
  border-radius: 8px;
  overflow: hidden;
  position: absolute;
  will-change: transform;
  transition: all 0.3s ease-in-out;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
}

.moving.tinder--card {
  transition: none;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: grabbing;
}

.tinder--card img {
  max-width: 100%;
  pointer-events: none;
}

.tinder--card h3 {
  margin-top: 32px;
  font-size: 32px;
  padding: 0 16px;
  pointer-events: none;
}

.tinder--card p {
  margin-top: 24px;
  font-size: 20px;
  padding: 0 16px;
  pointer-events: none;
}

.tinder--buttons {
  flex: 0 0 200px;
  text-align: center;
  padding-top: 20px;
}

.tinder--buttons button {
  border-radius: 50%;
  line-height: 60px;
  width: 60px;
  border: 0;
  background: #FFFFFF;
  display: inline-block;
  margin: 0 8px;
}

.tinder--buttons button:focus {
  outline: 0;
}

.tinder--buttons button:active {
  background: #777575;
}

.tinder--buttons i {
  font-size: 32px;
  vertical-align: middle;
}

.fa-heart {
  color: #FFACE4;
}

.fa-remove {
  color: #CDD6DD;
}



/* ------------------------------ */
.hidden {
  display: none !important;
}
#backgroundLogo{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 20rem;
  position: fixed;
  right: 0;
  margin: auto;
}
#gameOverText{
  bottom: 5rem;
  left: 0;
  width: 35rem;
  transform: translateY(-10rem);
  position: fixed;
  right: 0;
  margin: auto;
  text-align: center;
}

#r{
  position: absolute;
  left: calc(50% + 13rem);
  top: 50vh;
  max-width: 20rem;
}
#l{
  position: absolute;
  right: calc(50% + 13rem);
  top: 50vh;
  max-width: 20rem;
}

.sideText{
  font-size: 2rem;
}

#revenue{
  position: absolute;
    right: 50px;
    top: 5rem;
    max-width: 200px;
}
#cost{
  position: absolute;
    right: 50px;
    top: 7rem;
    max-width: 200px;
}
#fixedCost{
  position: absolute;
    right: 50px;
    top: 9rem;
    max-width: 200px;
}
#variableCost{
  position: absolute;
    right: 50px;
    top: 11rem;
    max-width: 200px;
}

#result{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin:auto;
  display:block;
  z-index: 0;
  text-align: center;
  margin-top: 5rem;
}

#flashText {
  position: fixed;
  top: calc(50% - 20rem);
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  display: none;
  z-index: 99;
}

.rotated-right {
  transform: rotate(45deg);
  transition: transform 0.3s ease;
}

.rotated-left {
  transform: rotate(-45deg);
  transition: transform 0.3s ease;
}

.rotated-level {
  transform: rotate(0deg);
  transition: transform 0.3s ease;
}

/* BURGER */
#burgerContainer {
  position: fixed;
  left: calc(50% + 20rem);
  bottom: 5rem;
  opacity: 0.8;
}

.burger {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.burger__buntop,
.burger__tomato,
.burger__lettuce,
.burger__meat {
  margin-bottom: 0;
  transition-property: margin-bottom;
  transition-duration: 500ms;
}

.burger__buntop:hover,
.burger__tomato:hover,
.burger__lettuce:hover,
.burger__meat:hover {
  margin-bottom: 2.5vmin;
  cursor: pointer;
  transition-property: margin-bottom;
  transition-duration: 500ms;
}

.burger__buntop {
  width: 15vmin;
  height: 5vmin;
  border-radius: 30vmin 30vmin 3vmin 3vmin;
  background-color: #ee9d2e;
  position: relative;
  top: 1vmin;
}

.burger__tomato {
  width: 14vmin;
  height: 1.8vmin;
  border-bottom: 0.5vmin solid #af3030;
  background-color: #b4322e;
  border-radius: 0.8vmin;
  position: relative;
  top: 1vmin;
}

.burger__lettuce {
  width: 14vmin;
  height: 1.5vmin;
  border-radius: 0.8vmin;
  background-color: #72b43e;
  position: relative;
  top: 1vmin;
  z-index: 2;
}

.lettuce1,
.lettuce2,
.lettuce3,
.lettuce4,
.lettuce5 {
  width: 4.8vmin;
  height: 2.5vmin;
  border-radius: 100%;
  position: absolute;
  background-color: #72b43e;
  top: 0vmin;
}

.lettuce1 {
  right: 0.1vmin;
}

.lettuce2 {
  right: 2.5vmin;
}

.lettuce3 {
  right: 6vmin;
}

.lettuce4 {
  right: 9.5vmin;
}

.lettuce5 {
  right: 10.19vmin;
}

.burger__cheese {
  width: 14vmin;
  height: 2vmin;
  border-radius: 2vmin;
  background-color: #f2d658;
  position: relative;
  top: 1.3vmin;
  z-index: 1;
}

.cheese__melt {
  width: 2vmin;
  height: 1vmin;
  border-radius: 0 0 1vmin;
  background-color: #f2d658;
  position: absolute;
  top: 1.2vmin;
}

.cheese__melt1,
.cheese__melt2,
.cheese__melt3 {
  width: 1.4vmin;
  height: 2vmin;
  border-radius: 1vmin;
  background-color: #f2d658;
  position: absolute;
  top: 0.5vmin;
  /* border: 1px solid pink; */
  animation-name: melting;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-direction: alternate;
}

.cheese__melt2 {
  height: 1.2vmin;
  left: 6.7vmin;
}

.cheese__melt3 {
  height: 1.5vmin;
  left: 3.3vmin;
}

.cheese__melt4 {
  height: 0.6vmin;
  width: 0.6vmin;
  background-color: #f2d658;
  position: relative;
  top: 2vmin;
  left: 7.9vmin;
}

/* cheese round spaces */

.cheese__space,
.cheese__space1 {
  width: 2.01vmin;
  height: 1.2vmin;
  border-radius: 100%;
  background-color: #6f4718;
  position: absolute;
  top: 1.25vmin;
  left: 1.35vmin;
}

.cheese__space1 {
  width: 2vmin;
  left: 4.6vmin;
}

.cheese__space2 {
  width: 1vmin;
  height: 1vmin;
  border-radius: 100%;
  left: 8.1vmin;
  top: 1.4vmin;
  background-color: #6f4718;
  position: relative;
}

@keyframes melting {
  to {
      top: 0.9vmin;
  }
}

.burger__meat {
  width: 14vmin;
  height: 2.5vmin;
  border-radius: 50vmin;
  background-color: #6f4718;
  position: relative;
  top: 1vmin;
}

.burger__bunbottom {
  width: 14.2vmin;
  height: 2.5vmin;
  border-radius: 2vmin 2vmin 50vmin 50vmin;
  background-color: #ee9d2e;
  position: relative;
  top: 0.9vmin;
}

.pointingHand{
  width: 2rem;
  height: 2rem;
  vertical-align: middle;
  transform: translateX(2px);
}
.flipX {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.reset-button{
  width: auto;
  min-width: 6rem;
  font-size: 3rem;
  vertical-align: middle;
  z-index: 99;
}
#results-arrow {
  transform: rotate(60deg) translate(-30px, 10px);
}
#hanno-img {
  width: 8rem;
  position: absolute;
  margin: auto;
  bottom: calc(50% + 11rem);
  left: 0;
  right: 0;
}
#logo-svg {
  width: 10rem;
  height: 10rem;
  display: block;
  margin: auto;
  position: Absolute;
  bottom: 50%;
  left: 0;
  right: 0;
}